@media (max-width: 407px) {
  table {
    font-size: 0.9rem;
  }
}
@media (max-width: 380px) {
  table {
    font-size: 0.8rem;
  }
}
@media (max-width: 352px) {
  table {
    font-size: 0.7rem;
  }
}
